@keyframes heartBeat {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    14% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    28% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    42% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    70% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

.container {
    // position: relative;
    // display: flex;
    margin: 15px;
    .dispalyArea {

      width: 100%;
    }
    .addBtn {
      
      text-decoration: none;
      right: 0;
      width: fit-content;
    }
}